table{
 position: relative;
 top: 7rem;
 left: 30rem;
  border: 1px solid;
  border-collapse: collapse;
}
td{
  border: 1px solid;
text-align: center;
}
tr{
  border: 1px solid;

}
th{
  border: 1px solid;

}
.btnDiv{
  display: inline;
  margin-left: 10px;
  
  
}
button{
  margin-top: 20px;
  width: 40px;
  background-color: tomato;
  color: wheat;
  font-weight: bold;
  font-size: large;
}