.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 5rem;
}

.main {
  text-align: center;

  min-height: 100vh;

}
* {
  margin: 0px;
}
#Button {
  position: relative;
  text-transform: none;
font-weight: bold;
  top: 6rem;
  color: black;
  background-color: yellow;
}
